body {
    padding: 10px 0 0 0;
    margin: 0;
    overflow-y: scroll;
}
#duration {
    padding-top: 0px;
}
.jumbotron {
    padding-top:10px;
    padding-bottom:10px;
}
.test-data a {
    display: block;
}
.preloadicon {
    position: absolute;
    top:-20px;
    left:-20px;
}
.col-sm-6.smallpad {
    padding: 5px;
}
/*a:visited  { background-color:#f00; }
a:link  { background-color:#0f0; }
a:active  { background-color:#00f; }*/
/*a:target { background-color: #ff0}*/

a span {
    transition: all 5s;
}
a:active  span { 
    transform: scale(4.0, 4.0);
}