<tr ...attributes>
  <td class="col-md-1">{{@id}}</td>

  <td class="col-md-4">
    <a {{action @onSelect @id}} role="button">
      {{@label}}
    </a>
  </td>

  <td class="col-md-1">
    <a {{action @onRemove @id}} role="button">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>
  </td>

  <td class="col-md-6"></td>
</tr>