{{! template-lint-disable }}
<table class="table table-hover table-striped test-data" id="items-list">
  {{#if @data.length}}
    <PerformantEach @onSelect={{@onSelect}} @onRemove={{@onRemove}} @items={{@data}} />
  {{/if}}
</table>
