---
import App from '../App.vue';
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Astro Vue Nano Stores keyed</title>
  <link href="/css/currentStyle.css" rel="stylesheet" />
</head>
<body>
  <div id="main">
    <App client:load />
  </div>
</body>
</html>
