<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h1>Ember</h1>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary btn-block" id="add" {{action 'add'}}>Add 10 rows</button>
            <button type="button" class="btn btn-primary btn-block" id="run" {{action 'create'}}>Create 1000 rows</button>
            <button type="button" class="btn btn-primary btn-block" id="update" {{action 'update'}}>Update every 10th row</button>
            <h3 id="duration"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;</h3>
        </div>
    </div>
</div>
<table class="table table-hover table-striped test-data">
    <tbody>
    {{#each items as |item|}}
        <!-- (item.identifier == homeController.selected) -->
        {{#my-row item=item}}{{/my-row}}
    {{/each}}
    </tbody>
</table>

