<table class="table table-hover table-striped test-data">
  <tbody>
    {{#each @data key='id' as |item|}}

      <Row
        @item={{item}}
        @rowClass={{if (eq item.id @selected) 'danger' 'x'}}
        @onSelect={{action @onSelect item.id}}
        @onRemove={{action @onRemove item.id}}
      />

    {{/each}}
  </tbody>
</table>
